# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
react-frontend/.gitignore
react-frontend/public/index.html
spring-backend/.gitignore
spring-backend/docker-compose.yml
spring-backend/Dockerfile
spring-backend/mvnw
spring-backend/mvnw.cmd
spring-backend/pom.xml
spring-backend/.mvn/wrapper/maven-wrapper.jar
spring-backend/.mvn/wrapper/maven-wrapper.properties
spring-backend/src/main/java/backend/hobbiebackend/HobbieBackendApplication.java
spring-backend/src/main/java/backend/hobbiebackend/config/CloudConfig.java
spring-backend/src/main/java/backend/hobbiebackend/config/HobbieConfigurationBeans.java
spring-backend/src/main/java/backend/hobbiebackend/config/OpenApi30Config.java
spring-backend/src/main/java/backend/hobbiebackend/config/SecurityConfiguration.java
spring-backend/src/main/java/backend/hobbiebackend/filter/JwtFilter.java
spring-backend/src/main/java/backend/hobbiebackend/handler/FailToDeleteException.java
spring-backend/src/main/java/backend/hobbiebackend/handler/GlobalAdvice.java
spring-backend/src/main/java/backend/hobbiebackend/handler/NotFoundException.java
spring-backend/src/main/java/backend/hobbiebackend/init/DBInit.java
spring-backend/src/main/java/backend/hobbiebackend/model/dto/AppClientSignUpDto.java
spring-backend/src/main/java/backend/hobbiebackend/model/dto/BusinessRegisterDto.java
spring-backend/src/main/java/backend/hobbiebackend/model/dto/HobbyInfoDto.java
spring-backend/src/main/java/backend/hobbiebackend/model/dto/HobbyInfoUpdateDto.java
spring-backend/src/main/java/backend/hobbiebackend/model/dto/UpdateAppClientDto.java
spring-backend/src/main/java/backend/hobbiebackend/model/dto/UpdateBusinessDto.java
spring-backend/src/main/java/backend/hobbiebackend/model/entities/AppClient.java
spring-backend/src/main/java/backend/hobbiebackend/model/entities/BaseEntity.java
spring-backend/src/main/java/backend/hobbiebackend/model/entities/BusinessOwner.java
spring-backend/src/main/java/backend/hobbiebackend/model/entities/Category.java
spring-backend/src/main/java/backend/hobbiebackend/model/entities/Hobby.java
spring-backend/src/main/java/backend/hobbiebackend/model/entities/Location.java
spring-backend/src/main/java/backend/hobbiebackend/model/entities/Test.java
spring-backend/src/main/java/backend/hobbiebackend/model/entities/UserEntity.java
spring-backend/src/main/java/backend/hobbiebackend/model/entities/UserRoleEntity.java
spring-backend/src/main/java/backend/hobbiebackend/model/entities/enums/CategoryNameEnum.java
spring-backend/src/main/java/backend/hobbiebackend/model/entities/enums/GenderEnum.java
spring-backend/src/main/java/backend/hobbiebackend/model/entities/enums/LocationEnum.java
spring-backend/src/main/java/backend/hobbiebackend/model/entities/enums/UserRoleEnum.java
spring-backend/src/main/java/backend/hobbiebackend/model/jwt/JwtRequest.java
spring-backend/src/main/java/backend/hobbiebackend/model/jwt/JwtResponse.java
spring-backend/src/main/java/backend/hobbiebackend/model/repostiory/AppClientRepository.java
spring-backend/src/main/java/backend/hobbiebackend/model/repostiory/BusinessOwnerRepository.java
spring-backend/src/main/java/backend/hobbiebackend/model/repostiory/CategoryRepository.java
spring-backend/src/main/java/backend/hobbiebackend/model/repostiory/HobbyRepository.java
spring-backend/src/main/java/backend/hobbiebackend/model/repostiory/LocationRepository.java
spring-backend/src/main/java/backend/hobbiebackend/model/repostiory/TestRepository.java
spring-backend/src/main/java/backend/hobbiebackend/model/repostiory/UserRepository.java
spring-backend/src/main/java/backend/hobbiebackend/model/repostiory/UserRoleRepository.java
spring-backend/src/main/java/backend/hobbiebackend/security/HobbieUserDetailsService.java
spring-backend/src/main/java/backend/hobbiebackend/service/CategoryService.java
spring-backend/src/main/java/backend/hobbiebackend/service/HobbyService.java
spring-backend/src/main/java/backend/hobbiebackend/service/LocationService.java
spring-backend/src/main/java/backend/hobbiebackend/service/NotificationService.java
spring-backend/src/main/java/backend/hobbiebackend/service/TestService.java
spring-backend/src/main/java/backend/hobbiebackend/service/UserRoleService.java
spring-backend/src/main/java/backend/hobbiebackend/service/UserService.java
spring-backend/src/main/java/backend/hobbiebackend/service/impl/CategoryServiceImpl.java
spring-backend/src/main/java/backend/hobbiebackend/service/impl/HobbyServiceImpl.java
spring-backend/src/main/java/backend/hobbiebackend/service/impl/LocationServiceImpl.java
spring-backend/src/main/java/backend/hobbiebackend/service/impl/NotificationServiceImpl.java
spring-backend/src/main/java/backend/hobbiebackend/service/impl/TestServiceImpl.java
spring-backend/src/main/java/backend/hobbiebackend/service/impl/UserRoleServiceImpl.java
spring-backend/src/main/java/backend/hobbiebackend/service/impl/UserServiceImpl.java
spring-backend/src/main/java/backend/hobbiebackend/utility/JWTUtility.java
spring-backend/src/main/java/backend/hobbiebackend/web/HobbyController.java
spring-backend/src/main/java/backend/hobbiebackend/web/HomeController.java
spring-backend/src/main/java/backend/hobbiebackend/web/TestController.java
spring-backend/src/main/java/backend/hobbiebackend/web/UserController.java
spring-backend/src/main/resources/application.properties
spring-backend/src/main/resources/META-INF/additional-spring-configuration-metadata.json
spring-backend/src/test/java/backend/hobbiebackend/HobbieBackendApplicationTests.java
spring-backend/src/test/java/backend/hobbiebackend/service/impl/CategoryServiceTest.java
spring-backend/src/test/java/backend/hobbiebackend/service/impl/HobbyServiceImplTest.java
spring-backend/src/test/java/backend/hobbiebackend/service/impl/LocationServiceImplTest.java
spring-backend/src/test/java/backend/hobbiebackend/service/impl/TestServiceImplTest.java
spring-backend/src/test/java/backend/hobbiebackend/service/impl/UserRoleServiceImplTest.java
spring-backend/src/test/java/backend/hobbiebackend/service/impl/UserServiceTest.java
spring-backend/src/test/java/backend/hobbiebackend/web/AbstractTest.java
spring-backend/src/test/java/backend/hobbiebackend/web/HobbyControllerTest.java
spring-backend/src/test/java/backend/hobbiebackend/web/TestControllerTest.java
spring-backend/src/test/java/backend/hobbiebackend/web/UserControllerTest.java
